#################################################################################################
# InfluxDB configuration
#################################################################################################

# URL of the InfluxDB Server including port, e.g. 'http://influxdb:8086'
INFLUX_URL=http://influxdb:8086

# InfluxDb organisation, e.g. 'my-org'
INFLUX_ORG=my-org

# The InfluxDB bucket to write to, e.g. 'solar/actual'
INFLUX_BUCKET=solar/actual

# Access token to the influxDB bucket (must have write permission)
INFLUX_TOKEN=some-token

#################################################################################################
# MQTT configuration
#################################################################################################

# The Url of the MQTT-Server, e.g. 'tcp://mqtt.server.de:1883'
MQTT_URL=tcp://mqtt:1883

# The user name telegraf uses to access the MQTT-Server, e.g. 'telegraf-mqtt-user'
MQTT_USER=telegraf-mqtt-user

#he password used to authenticate with the MQTT-Server e.g. 'telegraf-mqtt-password'
MQTT_PASSWORD=telegraf-mqtt-password

#################################################################################################
# OpenDTU settings
#################################################################################################
# Values not available via MQTT now, but needed to be compatible with future version

# The serial number of the DTU as configured / conputed on first start 
DTU_SERIAL=19998016xxxx

# The base topic configured in the DTU, e.g. "solar"
# Needed to distinguish between two OpenDTU devices in the current version. In the future version
# basetopic should be equal for all OpenDTU devices and the dtu serial is encoded in MQTT topics
DTU_BASE_TOPIC=solar
